@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    
}
:root {
    
  
    --LightGray: hsl(217, 12%, 63%);
    --Orange: hsl(25, 97%, 53%);


    --MediumGray: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
   
    --VeryDarkBlue: hsl(216, 12%, 8%);
    --Buttonbg:hsl(211, 19%, 22%);

  }

body {
    background-color: var(--VeryDarkBlue);
    color: white;
  }
main{
    height: 100vh;   
}
.note {
    text-align: center;
    padding-top:50px ;
}

.container{
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, var(--DarkBlue)35%,hsl(210, 19%, 12%)  100%);
    position: absolute;
    border-radius: 40px;
    left: 50%;
    top: 50%;
    width: 470px;
    height: 500px;
    transform: translate(-50%, -50%);
    
}

.content{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: space-evenly;
    transition: .5s all ease;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -ms-transition: .5s all ease;
    -o-transition: .5s all ease;
}
.star{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color:hsl(211, 19%, 22%) ;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.star img{
    width: 25px;

}
ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
ul li{
    
    list-style: none;
}
ul li button{
    cursor:pointer;
    font-size: 20px;
    color: var(--LightGray);
    background-color: none;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: hsl(211, 19%, 22%);
}
ul li button:hover{
    background-color: var(--LightGray);
    color: white;
}
.active{
    background-color: var(--Orange);
    color: white;
    pointer-events: none;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submitBtn{
    cursor: pointer;
    border: none;
   font-size: 22px;
   color: white;
   text-align: center;
   background-color: var(--Orange);
   width: 100%;
   height: 60px;
   border-radius: 40px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   -ms-border-radius: 40px;
   -o-border-radius: 40px;
}
.submitBtn:hover{
    cursor: pointer;
    background-color: white;
    color: var(--Orange);
}

.content p{
    font-size: 18px;
    color: var(--LightGray);
}

.warning p{
    
    display: none;
    color: red;
    
}
.warning{
    transition: 0.7s all ease-in;
}

/* content 2 */

.container2{
    opacity: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 40px;
    left: 50%;
    top: 50%;
    width: 470px;
    height: 500px;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transition: .8s all ease;
    -webkit-transition: .8s all ease;
    -moz-transition: .8s all ease;
    -ms-transition: .8s all ease;
    -o-transition: .8s all ease;
}

.content2{
   
    display: flex;
    width: 80%;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.content2 .selected{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight:400 ;
    color: var(--Orange);
    background-color: var(--Buttonbg);
    width: 70%;
    height: 35px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.content2 .message{
    gap: 10px;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.message p{
    font-size: 17px;
    color: var(--MediumGray);
}


/*  swap */


.swapRight{
    transform: translate(300px,-50%);
    -webkit-transform: translate(300px,-50%);
    -moz-transform: translate(300px,-50%);
    -ms-transform: translate(300px,-50%);
    -o-transform: translate(300px,-50%);
}

/* active */

.active{
    opacity: 1;
}
.active p{
    height: auto;
    opacity: 1;
    /* transform: scaleY(1); */
}
.active h2{
    font-weight: 700;
}
.active svg {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}



@media screen and (max-width: 600px) {
    .container , .container2{
        width: 350px;
    }
    .container2{
        display: none;
        transition: .8s all ease;
        -webkit-transition: .8s all ease;
        -moz-transition: .8s all ease;
        -ms-transition: .8s all ease;
        -o-transition: .8s all ease;
}
ul li button{
    font-size: 14px ;
    width: 50px;
    height: 50px;
}
.submitBtn{
    font-size: 16px;
    height: 50px;
}
.star{
    height: 50px;
    width: 50px;
}

}